{% block utilities_alert %}
    <div role="alert"
         class="alert {% if type %}alert-{{ type }}{% endif %}{% if dismissible %} alert-dismissible fade show{% endif %}{% if icon != "error" %} alert-has-icon{% endif %}">
        {% block utilities_alert_icon %}
            {% if icon != "false" %}
                {% if type == "danger" %}
                    {% sw_icon 'blocked' %}
                {% elseif type == "warning" %}
                    {% sw_icon 'warning' %}
                {% elseif type == "info" %}
                    {% sw_icon 'info' %}
                {% elseif type == "success" %}
                    {% sw_icon 'checkmark-circle' %}
                {% else %}
                    {% sw_icon 'alert' %}
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block utilities_alert_content_container %}
            <div class="alert-content-container">
                {% block utilities_alert_heading %}
                    {% if heading %}
                        <div class="alert-heading h5">
                            {{ heading }}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block utilities_alert_content %}
                    <div class="alert-content">
                        {% if list|length > 1 %}
                            <ul class="alert-list">
                                {% for entry in list %}
                                    <li>{{ entry|sw_sanitize }}</li>
                                {% endfor %}
                            </ul>
                        {% elseif list|length == 1 %}
                            {% for entry in list %}
                                {{ entry|sw_sanitize }}
                            {% endfor %}
                        {% else %}
                            {{ content|sw_sanitize }}
                        {% endif %}
                    </div>
                {% endblock %}

                {% block utilities_alert_dismissible %}
                    {% if dismissible %}
                        <button type="button"
                                class="close"
                                {{ dataBsDismissAttr }}="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
